@import url('./fonts.css');
@import 'tailwindcss';

@theme {
  --font-tomorrow: Tomorrow, sans-serif;
  --color-dark-gray: #272727;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 9999px;
  border: 2px solid rgba(0, 0, 0, 0);
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #f59e0b rgba(255, 255, 255, 0.03);
}